html{
    font-size: 100%;
}
#wrapper {
    height: 100vh;
}
header{
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    background-color: rgba(145, 145, 145, 0.842);
    color: white;
}
main{
    height: 93%;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 26%;
    margin: auto;
    font-size: 2rem;
}
#search{
    border-radius: 10px;
}
#shows{
    display: none;
    grid-template-columns: repeat(5, 16%);
    grid-auto-rows: 60%;
    box-shadow:0px 0px 5px 0px rgb(0, 0, 0);
    height: 88%;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    grid-gap: 5%;
    overflow: scroll;
    scrollbar-width: none;
}
#show{
    display: none;  
    box-shadow:0px 0px 5px 0px rgb(0, 0, 0);
    height: 88%;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
}
#none{
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 5px 0px rgb(0, 0, 0);
    height: 88%;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    font-size: 3rem;
}
/*Multiple shows container*/
.show-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    box-shadow:0px 0px 5px 0px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: honeydew;
}
.show-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.show-cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*Single show containers */
.one-show-container {
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows: repeat(20,5%) ;
}
.one-show-title {
    grid-area: 1 / 1 / 3 /  21 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.one-show-cover {
    grid-area: 3 / 1 / 20 / 7;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.one-show-description {
    grid-area: 3 / 7 / 12 /21 ;
    padding: 2% 2% 2% 2%;
    overflow: scroll;
    scrollbar-width: none;
}    
.one-show-genres {
    grid-area: 13 / 7 / 14 /21 ;
    padding: 2% 2% 2% 2%;
}
.one-show-premiered {
    grid-area: 15 / 7 / 16 /21 ;
    padding: 2% 2% 2% 2%;
}
.one-show-status {
    grid-area: 17 / 7 / 18 /21 ;
    padding: 2% 2% 2% 2%;
}
.one-show-network {
    grid-area: 19 / 7 / 20 /21 ;
    padding: 2% 2% 2% 2%;
}
.button{
    border-radius: 10px;
    transition: 0.5s;
}
.button:hover{
    transform: scale(1.05);
    box-shadow:0px 0px 5px 0px rgb(0, 0, 0);
}
footer{
    height: 7%;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    box-shadow:0px 0px 15px 0px rgb(0, 0, 0);
}
#github-link{
    color: black;
    margin-left: 1%;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    html{
        font-size: 70%;
    }
    #shows{
        display: none;
        grid-template-columns: 47.5% 47.5%;

    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    html{
        font-size: 75%;
    }
    #shows{
        display: none;
        grid-template-columns: repeat(3,30%);

    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    html{
        font-size: 80%;
    }
    #shows{
        display: none;
        grid-template-columns: repeat(3,30%);

    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    html{
        font-size: 85%;
    }
    #shows{
        display: none;
        grid-template-columns: repeat(4,21%);

    }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    html{
        font-size: 100%;
    }
}